.nav{
    height: 75px;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    background-color: #131a27;
    justify-content: space-between;
    color: rgb(209, 209, 209);
    font-weight: 600;
    font-size: 18px;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 110px;
}